@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: 'tribushet MS Regular';
  src: url("../fonts/tribushet.eot");
  src: url("../fonts/tribushet.woff") format("woff"), url("../fonts/tribushet.ttf") format("truetype"), url("../fonts/tribushet.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: tribushet MS Regular;
  font-family: tribushet MS Regular, helvetica, sans-serif;
}

* {
  outline: none;
}

*:focus {
  outline: none;
}

body {
  overflow-x: hidden;
  background: #fafafa;
}

.full-width {
  width: 100%;
}

body,
html {
  height: 100%;
}

.sticky-page {
  min-height: 100%;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}

.product-row {
  margin: 0 -15px;
}

.product-row > div {
  padding: 0 15px;
}

.product-item {
  width: 100%;
  height: 485px;
  background: #fff;
  position: relative;
  padding: 20px 10px 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

.product-item__for-sale {
  width: 59px;
  height: 30px;
  position: absolute;
  right: 6px;
  top: 6px;
}

.product-item__media {
  height: 250px;
  line-height: 250px;
  width: 100%;
  margin-bottom: 70px;
}

.product-item__media img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 93%;
  max-height: 250px;
}

.product-item__description {
  text-align: center;
}

.product-item__description .name {
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
  text-align: center;
  margin: 0 0 10px;
  color: #505050;
}

.product-item__description .id {
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  height: 16px;
  overflow: hidden;
  text-align: center;
  margin: 0 0 19px;
  color: #505050;
}

.product-item__description .old-price {
  font-size: 12px;
  color: #858585;
  line-height: 14px;
  height: 14px;
  margin-bottom: 4px;
  text-decoration: line-through;
}

.product-item__description .price {
  font-size: 18px;
  color: #363636;
  line-height: 14px;
  margin-bottom: 25px;
}

.product-item__description .economy {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  overflow: hidden;
  text-align: center;
  margin: 0;
  color: #db052b;
}

.product-item .show-more {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 22px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -110px;
  height: 104px;
  background: #fff;
  transition: 0.3s ease-in-out;
}

.product-item .show-more__link {
  display: block;
  width: 164px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  background: #453c49;
}

.product-item .show-more__link:hover, .product-item .show-more__link:focus, .product-item .show-more__link:visited, .product-item .show-more__link:active {
  text-decoration: none;
}

.product-item:hover .show-more {
  bottom: 0;
}

.product-item.show-more-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  background: transparent;
}

.product-item.show-more-item a {
  text-decoration: none;
  color: #221a26;
  display: inline-block;
}

.product-item.show-more-item a:hover, .product-item.show-more-item a:focus, .product-item.show-more-item a:active, .product-item.show-more-item a:visited {
  color: #221a26;
  text-decoration: none;
}

.product-item.show-more-item .plus {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url(../img/show-more-item.png) no-repeat center center/contain;
  margin-bottom: 20px;
}

.product-item.show-more-item p {
  font-size: 28px;
  margin: 0;
  line-height: 1;
}

.product-item.show-more-item p span {
  font-size: 24px;
}

.header {
  margin-bottom: 15px;
}

.header__lvl-1 {
  background: #afaab0;
  padding: 7px 0 5px;
}

.header__lvl-1__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
}

.header__lvl-1__nav li {
  font-size: 13px;
  color: #010000;
}

.header__lvl-1__nav li a {
  color: #010000;
  text-decoration: none;
  display: inline-block;
  margin: 0 4px;
}

.header__lvl-1__nav li a:hover, .header__lvl-1__nav li a:focus, .header__lvl-1__nav li a:active, .header__lvl-1__nav li a:visited {
  color: #010000;
  text-decoration: none;
  border: none;
}

.header__lvl-1__nav li.phone {
  margin-right: 10px;
}

.header__lvl-1__action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  transform: translateY(-3px);
}

.header__lvl-1__action a {
  color: #010000;
  text-decoration: none;
  display: inline-block;
  position: relative;
  letter-spacing: -0.7px;
}

.header__lvl-1__action a:first-child {
  margin-right: 20px;
}

.header__lvl-1__action a:first-child:before {
  content: '';
  width: 2px;
  height: 13px;
  background: #010000;
  position: absolute;
  right: -11px;
  top: 4px;
}

.header__lvl-1__action a:hover, .header__lvl-1__action a:focus, .header__lvl-1__action a:active, .header__lvl-1__action a:visited {
  color: #010000;
  text-decoration: none;
  border: none;
}

.header__lvl-2 {
  background: #453c49;
  padding-top: 5px;
}

.header__panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  min-height: 75px;
  position: relative;
}

.header__panel__search {
  position: relative;
  margin-left: 4px;
  width: 170px;
  margin-top: -2px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header__panel__search .search-field {
  font-size: 13px;
  height: 22px;
  border-radius: 22px;
  padding: 0 45px 0 15px;
  background: #342c37;
  text-align: right;
  font-style: italic;
  color: #afaab0;
  border: none;
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.9), 0.5px 1px 1px 1px #544c57;
}

.header__panel__search .search-field:placeholder {
  color: #afaab0;
}

.header__panel__search .search-btn {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../img/svg/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: -2px;
  right: 0;
  background-size: 12px;
  border: none;
}

.header__panel__search .search-btn:hover, .header__panel__search .search-btn:focus, .header__panel__search .search-btn:active {
  outline: none;
}

.header__panel__logo {
  width: 140px;
  height: 50px;
  display: block;
  background: url(../img/svg/pandora-look-logo.svg) no-repeat center center/contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.header__panel__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-top: -2px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header__panel__info a {
  width: 40px;
  height: 18px;
  display: inline-block;
  color: #fff;
}

.header__panel__info a span {
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  transform: translateY(-5px);
}

.header__panel__info a.like {
  background: url(../img/svg/heart-icon.svg) no-repeat left top/contain;
  padding-left: 24px;
}

.header__panel__info a.basket {
  width: 30px;
  padding-left: 22px;
  background: url(../img/svg/basket-icon.svg) no-repeat left top/contain;
}

.header__panel__info a:first-child {
  margin-right: 5px;
}

.header__lvl-3 {
  background: #453c49;
}

.header__lvl-3 .container {
  position: relative;
}

.header__lvl-3 .container:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 5px;
  background: radial-gradient(at 50% 0, black, transparent 85%);
  background-size: 100% 3px;
  background-repeat: no-repeat;
}

.header__navbar-collapse {
  border: none;
  padding: 0;
}

.header__navbar-collapse.in {
  overflow-x: visible;
  overflow-y: visible;
}

.header__navbar {
  background: linear-gradient(to right, #453c49 0%, #37293a 35%, #37293a 65%, #453c49 100%);
  border: none;
  margin: 0;
  padding: 10px 0 10px;
  min-height: 1px;
  -ms-flex: 1;
      flex: 1;
}

.header__navbar .navbar-toggle:hover {
  background: transparent;
}

.header .header__nav {
  margin: 0;
  padding: 0 12px;
  float: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex: 1;
      flex: 1;
}

.header .header__nav li a {
  color: #fff;
  font-size: 17px;
  padding: 0;
}

.header .header__nav li a:hover, .header .header__nav li a:focus, .header .header__nav li a:active, .header .header__nav li a:visited {
  color: #fff;
  text-decoration: none;
}

.header .header__nav:after, .header .header__nav:before {
  content: none;
}

.footer {
  background: #463b49;
  padding: 25px 0 55px;
}

.footer__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -25px;
}

.footer__left {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
}

.footer__right {
  -ms-flex: 0 0 75%;
      flex: 0 0 75%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.footer__logo {
  width: 126px;
  height: 48px;
  display: block;
  background: url(../img/svg/pandora-look-logo.svg) no-repeat center center/contain;
  margin-top: -10px;
}

.footer__social {
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0;
  padding: 0;
  list-style-type: none;
}

.footer__social li {
  margin-right: 5px;
}

.footer__social li a {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: #fff;
  border-radius: 50%;
}

.footer__social li a img {
  width: 26px;
  height: 26px;
}

.footer__item ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__item ul li {
  color: #fff;
  font-size: 14px;
  margin-bottom: 4px;
  font-family: thimes new roman;
}

.footer__item ul li a {
  color: #fff;
  text-decoration: none;
}

.footer__item ul li a:hover {
  text-decoration: none;
}

.footer__item ul li a.register span {
  display: inline-block;
}

.footer__item ul li a.register span:first-child {
  padding-right: 10px;
  position: relative;
}

.footer__item ul li a.register span:first-child:before {
  content: '';
  width: 1px;
  height: 14px;
  background: #fff;
  position: absolute;
  top: 2px;
  right: 2px;
}

.footer__item ul li.title {
  margin-bottom: 15px;
}

.footer .copy {
  -ms-flex: 0 0 75%;
      flex: 0 0 75%;
  border-top: 1px solid #fff;
  margin-top: 15px;
  padding-top: 8px;
}

.footer .copy p {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-align: right;
  margin-bottom: 0;
}

.destiny-item {
  width: 100%;
  height: 82px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 15px;
  background: #fff;
  overflow: hidden;
  padding: 10px 15px;
}

.destiny-item p {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 18px;
  color: #341e37;
}

.main-slider {
  margin: 0 -34px 20px;
  padding: 0 34px;
}

.main-slider .item img {
  width: 100%;
}

.main-slider .my-arrow-left {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: -34px;
  margin-top: -34px;
  background: url(../img/svg/slider_arrow_left.svg) no-repeat center center/contain;
}

.main-slider .my-arrow-right {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  right: -34px;
  margin-top: -34px;
  background: url(../img/svg/slider_arrow_right.svg) no-repeat center center/contain;
}

.reclame {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 100%;
  margin: 30px -8px 0;
}

.reclame__item {
  padding: 0 8px;
  margin-bottom: 16px;
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
}

.reclame__item.big {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
}

.news > .row {
  margin: 0 -15px;
}

.news > .row > div {
  padding: 0 15px;
}

.news__title {
  font-family: "Roboto";
  font-size: 38px;
  color: #312736;
  font-weight: 400;
  margin: 35px 0 39px;
}

.news__item {
  background: #fff;
  padding: 15px 15px 25px;
  border: 1px solid #000;
  margin-bottom: 25px;
}

.news__item__media {
  margin-bottom: 25px;
}

.news__item__description {
  height: 165px;
  text-align: center;
}

.news__item__description__title {
  font-size: 24px;
  color: #a19ea2;
  line-height: 30px;
  height: 90px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 35px;
}

.news__item__description__link {
  font-size: 24px;
  color: #342a39;
  display: inline-block;
  text-decoration: none;
}

.news__item__description__link span {
  display: inline-block;
  margin-right: 15px;
}

.news__item__description__link:hover, .news__item__description__link:focus, .news__item__description__link:active, .news__item__description__link:visited {
  color: #342a39;
  text-decoration: none;
}

.home-info {
  text-align: center;
  padding: 0 100px;
  margin: 25px 0 50px;
}

.home-info p {
  margin: 0;
  font-size: 16px;
  color: #342a39;
  line-height: 1.2;
}

.home-info p a {
  display: inline-block;
  border-bottom: 1px solid #342a39;
  color: #342a39;
  line-height: 1.2;
  text-decoration: none;
}

.home-info p a:hover, .home-info p a:focus, .home-info p a:active, .home-info p a:visited {
  color: #342a39;
  text-decoration: none;
}

.home-info {
  text-align: center;
  padding: 0 100px;
  margin: 25px 0 50px;
}

.home-info p {
  margin: 0;
  font-size: 16px;
  color: #342a39;
  line-height: 1.2;
}

.home-info p a {
  display: inline-block;
  border-bottom: 1px solid #342a39;
  color: #342a39;
  line-height: 1.2;
  text-decoration: none;
}

.home-info p a:hover, .home-info p a:focus, .home-info p a:active, .home-info p a:visited {
  color: #342a39;
  text-decoration: none;
}

.category-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  background: #352a3a;
  margin-bottom: 20px;
}

.category-nav__item {
  -ms-flex-positive: 1;
      flex-grow: 1;
  transition: 0.3s ease-in-out;
}

.category-nav__item:hover {
  background: #221a26;
}

.category-nav__item.active {
  background: #221a26;
}

.category-nav__link {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding: 20px 10px;
}

.category-nav__link:hover, .category-nav__link:focus, .category-nav__link:active, .category-nav__link:visited {
  color: #fff;
  text-decoration: none;
}

.breadcrumbs {
  padding: 10px 10px 8px;
  background: #fff;
}

.breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 10px 5px;
  background: #fafafa;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.breadcrumbs ul li {
  position: relative;
  padding-right: 30px;
}

.breadcrumbs ul li a {
  font-size: 12px;
  color: #6f6d72;
  line-height: 1;
}

.breadcrumbs ul li a:hover, .breadcrumbs ul li a:focus, .breadcrumbs ul li a:active, .breadcrumbs ul li a:visited {
  color: #6f6d72;
  text-decoration: none;
}

.breadcrumbs ul li.active a {
  color: #2f2b2a;
}

.breadcrumbs ul li.active a:hover, .breadcrumbs ul li.active a:focus, .breadcrumbs ul li.active a:active, .breadcrumbs ul li.active a:visited {
  color: #2f2b2a;
  text-decoration: none;
}

.breadcrumbs ul li:before {
  content: '';
  width: 6px;
  height: 10px;
  background: url(../img/svg/arrow_bred.svg) no-repeat center center/contain;
  position: absolute;
  top: 6px;
  right: 11px;
}

.breadcrumbs ul li:last-child:before {
  content: none;
}

.card {
  background: #fff;
  margin-bottom: 22px;
}

.card__row {
  margin: 0 -12px;
}

.card__left {
  width: 53.5%;
  padding: 0 12px;
  float: left;
}

.card__right {
  width: 46.5%;
  padding: 0 12px;
  float: left;
}

.card .slider-for {
  margin-bottom: 50px;
}

.card .slider-for .slick-slide .product-item__for-sale {
  right: 0;
  top: 0;
}

.card .slider-for .slick-slide img {
  width: 100%;
}

.card .slider-nav {
  width: 164px;
  margin: 0 auto 40px;
}

.card .slider-nav .slick-slide {
  border: 2px solid transparent;
}

.card .slider-nav .slick-slide img {
  width: 100%;
}

.card .slider-nav .slick-slide.slick-current {
  border-color: #ff0000;
}

.card .slider-nav .slick-slide.slick-current:focus {
  outline: none !important;
}

.card .slider-nav .slick-arrow {
  width: 15px;
  height: 26px;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  border: none;
}

.card .slider-nav .slick-arrow.slick-next {
  right: -33px;
  background: url(../img/card-galary-arrow-next.png) no-repeat center center/contain;
}

.card .slider-nav .slick-arrow.slick-prev {
  left: -33px;
  background: url(../img/card-galary-arrow-prev.png) no-repeat center center/contain;
}

.card__info {
  padding-top: 8px;
  padding-right: 10px;
}

.card__title {
  font-size: 18px;
  text-transform: uppercase;
  color: #131313;
  font-family: "Roboto";
  line-height: 22px;
  margin: 0 0 21px;
  font-weight: 700;
}

.card__article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 37px;
}

.card__article-title {
  font-size: 12px;
  font-family: "Roboto";
  color: #919191;
  margin: 0;
}

.card__article-in-stock {
  font-size: 18px;
  font-family: "Roboto";
  color: #32af20;
  margin: 0;
  line-height: 15px;
}

.card__price-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
}

.card__price-info .price {
  font-size: 30px;
  color: #2e3030;
  font-family: "Roboto";
  line-height: 27px;
}

.card__price-info .price span {
  font-size: 48px;
}

.card__price-info .discount .old-price {
  font-size: 18px;
  color: #949595;
  text-decoration: line-through;
  line-height: 16px;
  font-family: "Roboto";
  margin: 0 0 2px;
}

.card__price-info .discount .economy {
  font-size: 18px;
  font-family: "Roboto";
  color: #fe0606;
  line-height: 16px;
  margin: 0;
}

.card__price-info .save .btn-save {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 14px;
  background: transparent;
  border: none;
  color: #483f50;
  padding: 6px 0;
}

.card__price-info .save .btn-save img {
  width: 20px;
  margin-right: 5px;
  transition: 0.3s ease-in-out;
}

.card__price-info .save .btn-save:hover, .card__price-info .save .btn-save:focus, .card__price-info .save .btn-save:active {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

.card__price-info .save .btn-save:hover img {
  transform: translateY(-5px);
}

.card__action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-right: 20px;
  margin: 50px 0;
}

.card__action .btn-add {
  padding: 14px 22px 18px;
  font-size: 22px;
  line-height: 1;
  color: #fff;
  font-family: "Roboto";
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #554C5D 0%, #2a2132 100%);
  box-shadow: inset 1px 1px 1px 1px #2a2031;
  border: 1px solid #9a969e;
  transition: 0.3s ease;
}

.card__action .btn-add:hover {
  background-image: linear-gradient(to bottom, #2a2132 0%, #554C5D 100%);
}

.card__action .btn-add:hover, .card__action .btn-add:focus, .card__action .btn-add:active {
  outline: none;
}

.card__action .btn-add:active {
  transform: scale(0.95);
}

.card__action > div:nth-child(2) {
  width: 150px;
}

.card__destiny {
  background: #fafafa;
  padding: 14px 20px 24px;
}

.card__destiny ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card__destiny ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 20px;
  color: #342a39;
  font-family: "Roboto";
}

.card__destiny ul li img {
  width: 36px;
  margin-right: 20px;
  height: 100%;
}

.card__destiny ul li:last-child {
  margin-bottom: 0;
}

.card__atention {
  font-size: 12px;
  font-family: "Roboto";
  color: #0f0c10;
  border: 2px solid #0f0c10;
  padding: 5px 11px 7px;
  margin: 44px 0;
}

.card__discount__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  font-family: "Roboto";
  margin-bottom: 19px;
}

.card__discount__count {
  width: 90px;
  min-width: 90px;
  font-size: 36px;
  line-height: 36px;
  color: #fe0606;
  text-align: right;
  font-weight: 700;
  padding-top: 10px;
}

.card__discount__count img {
  width: 46px;
}

.card__discount__description {
  padding-left: 25px;
  padding-right: 75px;
}

.card__discount__description__title {
  font-size: 18px;
  color: #342a39;
}

.card__discount__description__subtitle {
  font-size: 14px;
  line-height: 1.2;
  margin: 0 0 5px;
}

.card__discount__description__subtitle .contacts {
  display: inline-block;
  width: 75px;
}

.card__tabs {
  background: #fff;
  margin-bottom: 22px;
}

.card__tabs__header .nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  background: #352a3a;
}

.card__tabs__header .nav li {
  -ms-flex-positive: 1;
      flex-grow: 1;
  margin: 0;
}

.card__tabs__header .nav li a {
  display: block;
  text-align: center;
  border: none;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  border-radius: 0;
  margin: 0;
  padding: 16px 0;
  transition: 0.3s ease-in-out;
}

.card__tabs__header .nav li a:hover {
  background: #221a26;
}

.card__tabs__header .nav li a:hover, .card__tabs__header .nav li a:focus, .card__tabs__header .nav li a:active, .card__tabs__header .nav li a:visited {
  color: #fff;
  text-decoration: none;
  border: none;
  outline: none;
}

.card__tabs__header .nav li.active a {
  background: #221a26;
  border: none;
}

.card__tabs__body .tab-content {
  min-height: 370px;
  padding: 20px 45px 30px;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto";
}

.card__recomend {
  background: #fff;
  margin: 22px 0;
  text-align: center;
  padding: 30px 0;
}

.card__recomend h2 {
  font-size: 30px;
  color: #483f50;
  margin: 0;
}

.card__recomend__slider .owl-carousel .item img {
  width: auto;
}

.card__recomend__slider .owl-carousel .my-arrow-left {
  width: 58px;
  height: 58px;
  position: absolute;
  top: 50%;
  left: -29px;
  margin-top: -29px;
  background: url(../img/svg/slider_arrow_left.svg) no-repeat center center/contain;
}

.card__recomend__slider .owl-carousel .my-arrow-right {
  width: 58px;
  height: 58px;
  position: absolute;
  top: 50%;
  right: -29px;
  margin-top: -29px;
  background: url(../img/svg/slider_arrow_right.svg) no-repeat center center/contain;
}

.select2-container .select2-selection--single {
  background: #fafafa;
  border: 1px solid #f1f2f5;
  border-radius: 6px;
  padding: 5px 32px 7px 0;
  height: auto;
  position: relative;
}

.select2-container .select2-selection--single:before {
  content: '';
  position: absolute;
  top: 0;
  right: 32px;
  height: 100%;
  width: 1px;
  background: #f1f2f5;
}

.select2-container .select2-selection--single:after {
  content: '';
  width: 8px;
  height: 8px;
  border-left: 1px solid #f1f2f5;
  border-bottom: 1px solid #f1f2f5;
  position: absolute;
  right: 12px;
  top: 10px;
  transform: rotateZ(-45deg);
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
  text-align: center;
}

.select2-dropdown {
  border: 1px solid #f1f2f5;
  background: #fafafa;
}

.select2-results__options {
  text-align: center;
  padding-right: 32px;
  max-height: 150px;
  overflow: auto;
}
