.breadcrumbs {
  padding: 10px 10px 8px;
  background: #fff;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    padding: 9px 10px;
    background: #fafafa;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;

    li {
      position: relative;
      padding-right: 30px;
      a {
        font-size: 12px;
        color: #6f6d72;
        line-height: 1;

        &:hover,
        &:focus,
        &:active,
        &:visited {
          color: #6f6d72;
          text-decoration: none;
        }
      }

      &.active {
        a {
          color: #2f2b2a;

          &:hover,
          &:focus,
          &:active,
          &:visited {
            color: #2f2b2a;
            text-decoration: none;
          }
        }
      }
    }
  }
}