.cabinet {
  background: #fff;
  padding: 50px 20px 0;
  position: relative;

  &__row {
    margin: 0 -12px;
  }

  &-left {
    float: left;
    padding: 0 12px;
    width: 32%;

    @media (max-width: 767px) {
      float: none;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 3;
      background: #f6f6f6;
      bottom: 0;
      width: 250px;
      padding-top: 30px;
      transform: translateX(-100%);
      overflow-y: auto;
      transition: 0.3s ease-in-out;

      &.active {
        transform: translateX(0);
      }
    }
  }

  &-right {
    float: left;
    padding: 0 12px;
    width: 68%;

    @media (max-width: 767px) {
      float: none;
      width: 100%;
      margin: 0 auto;
    }

    @media (max-width: 479px) {
      padding: 0;
    }
  }

  &__title {
    font-size: 30px;
    margin: 0 0 20px;
    font-family: $rm;
    margin-left: 30px;

    @media (max-width: 479px) {
      margin-left: 0;
      font-size: 24px;
    }
  }

  &__backdrop {
    @media (max-width: 767px) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      opacity: 0;
      background: rgba(0,0,0,0.6);
      display: none;

      &.active {
        display: block;
        opacity: 1;
      }
    }
  }

  &__menu {
    display: none;

    @media (max-width: 767px) {
      display: block;
      width: 22px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;

      span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        margin-bottom: 4px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__close {
    display: none;

    @media (max-width: 767px) {
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/item-delete.png) no-repeat top left;
      background-size: 19px;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  @media (max-width: 479px) {
    padding: 40px 10px 0;
  }
}

.order-info {
  border: 2px solid #453c49;
  margin-bottom: 30px;

  &__header {
    display: flex;
    background: #453c49;

    div {
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-family: $rr;
      height: 44px;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      &:nth-child(1) {
        border-left: 1px solid transparent;
        width: 19%;
        min-width: 19%;

        @media (max-width: 991px) {
          width: 18%;
          min-width: 18%;
        }
      }

      &:nth-child(2) {
        width: 15%;
        min-width: 15%;

        @media (max-width: 991px) {
          width: 22%;
          min-width: 22%;
        }
      }

      &:nth-child(3) {
        width: 44%;
        min-width: 44%;

        @media (max-width: 991px) {
          width: 40%;
          min-width: 40%;
        }
      }

      &:nth-child(4) {
        width: 22%;
        min-width: 22%;
        border-right: 1px solid transparent;

        @media (max-width: 991px) {
          width: 20%;
          min-width: 20%;
        }
      }

      @media (max-width: 767px) {
        font-size: 14px;
      }

      @media (max-width: 479px) {
        font-size: 12px;
      }
    }
  }

  &__body {
    min-height: 80px;
    padding: 20px 20px 40px 35px;

    .order-item {
      margin-bottom: 15px;
      border-bottom: 2px solid #4b424f;
      padding-bottom: 5px;

      &__header {
        font-size: 18px;
        color: #453c49;
        font-family: $rm;
        font-weight: 700;
        margin-bottom: 15px;
        display: flex;

        >div {
          &:nth-child(1) {
            width: 15%;

            @media (max-width: 991px) {
              width: 16%;
            }

            @media (max-width: 767px) {
              width: 15%;
            }
          }

          &:nth-child(2) {
            width: 16.5%;
            text-align: center;

            @media (max-width: 991px) {
              width: 23%;
            }
          }

          &:nth-child(3) {
            width: 47.5%;
            text-align: center;

            @media (max-width: 991px) {
              width: 37%;
            }

            @media (max-width: 479px) {
              width: 36%;
            }
          }

          &:nth-child(4) {
            width: 21%;
            padding-left: 15px;

            @media (max-width: 991px) {
              width: 24%;
              padding-left: 0;
            }

            @media (max-width: 767px) {
              width: 25%;
            }

            @media (max-width: 479px) {
              width: 26%;
            }
          }
        }

        @media (max-width: 1199px) {
          font-size: 16px;
        }

        @media (max-width: 991px) {
          font-size: 15px;
          margin-bottom: 10px;
        }

        @media (max-width: 767px) {
          font-size: 14px;
        }

        @media (max-width: 479px) {
          font-size: 11px;
        }
      }

      &__list {

        &-item {
          display: flex;
          font-size: 16px;
          font-family: $rr;
          color: #453c49;
          margin-bottom: 4px;

          >div {
            &:nth-child(1) {
              width: 52%;
              padding-right: 10px;

              @media (max-width: 479px) {
                width: 58%;
              }
            }

            &:nth-child(2) {
              width: 16%;
            }

            &:nth-child(3) {
              width: 32%;

              @media (max-width: 479px) {
                width: 26%;
              }
            }
          }

          @media (max-width: 991px) {
            font-size: 14px;
          }

          @media (max-width: 767px) {
            font-size: 13px;
          }

          @media (max-width: 479px) {
            font-size: 12px;
          }
        }
      }
    }

    @media (max-width: 991px) {
      padding: 20px 15px 40px 15px;
    }

    @media (max-width: 479px) {
      padding: 12px 8px 15px 8px;
    }
  }
}
