.category {

  &-wrap {
    margin-bottom: 25px;
  }

  &__baner {
    margin: 12px 0;
  }

  &__nav {
    display: flex;
    align-items: center;
    background: #463b49;

    &__title {
      font-size:  16px;
      color: #fff;
      min-width: 190px;
      padding: 0 10px 0 16px;
      text-transform: uppercase;

      @media (max-width: 991px) {
        margin-bottom: 10px;
        text-align: center;
      }

      @media (max-width: 767px) {
        text-align: left;
      }
    }

    .navbar {
      min-height: 1px;
      border: none;
      border-radius: 0;
      flex: 1;
      margin: 0;
      background: transparent;

      .navbar-toggle {

        .icon-bar {
          background: #fff;
        }

        &:hover,
        &:focus,
        &:active {
          background: transparent;
        }

        @media (max-width: 767px) {
          position: absolute;
          border: none;
          padding: 0;
          right: 10px;
          top: -28px;
          z-index: 3;
          margin: 0;
        }

        @media (max-width: 479px) {
          // top: -40px;
        }
      }
    }

    &__list {
      display: flex;
      flex: 1;
      margin: 0;
      padding: 0;
      list-style-type:  none;
      overflow-x: hidden;

      li {
        flex-grow: 1;

        a {
          font-size:  16px;
          color: #fff;
          text-transform: uppercase;
          display: block;
          padding: 3px 0;
          text-align: center;
          white-space: nowrap;
          transition: 0.3s ease-in-out;


          &:hover {
            background: #fff;
            color: #463b49;
          }

          &:hover,
          &:focus,
          &:active,
          &:visited {
            text-decoration: none;
          }

          @media (max-width: 1199px) {
            font-size: 14px;
          }

          @media (max-width: 991px) {
            padding-left: 15px;
            padding-right: 15px;
          }

          @media (max-width: 767px) {
            font-size: 16px;
            padding: 5px 0;
          }

          @media (max-width: 479px) {
            font-size: 14px;
          }
        }

        &.active {
          a {
            background: #fff;
            color: #463b49;
          }
        }

        &:last-child {
          margin-right: -1px;
        }
      }

      @media (max-width: 767px) {
        display: block;
      }
    }

    @media (max-width: 991px) {
      display: block;
      padding: 10px 0 0;
    }
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 20px 15px 15px;

    >div {

      &:first-child {
        display: flex;

        @media (max-width: 991px) {
          flex-wrap: wrap;
        }

        @media (max-width: 479px) {
          justify-content: space-between;
        }
      }
    }


    &__item {
      width: 140px;
      margin-right: 24px;

      .ms-options-wrap {
        position: relative;
      }

      .ms-options-wrap > button:focus,
      .ms-options-wrap > button {
        background: #f5f5f5;
        border: none;
        border-radius: 6px;
        padding: 6px 20px 6px 15px;
        color: #483e4c;
      }

      .ms-options-wrap > button:after {
        width: 8px;
        height: 8px;
        border-left: 2px solid #cacaca;
        border-bottom: 2px solid #cacaca;
        border-right: none;
        border-top: none;
        transform: rotateZ(-45deg);
        right: 12px;
        top: 13px;
      }

      .ms-options-wrap > .ms-options {
        left: 0;
        right: 0;
        width: auto;

        ul {
          padding: 5px;

          li {

            label {
              font-weight: 400;
              font-size: 12px;
              padding: 0 0 0 24px;
              border: none;
              background: transparent;

              input {
                opacity: 0;
                width: 0;
                height: 0;
              }

              &:before {
                content: '';
                position: absolute;
                width: 18px;
                height: 18px;
                left: 0;
                top: -1px;
                border: 1px solid #cfcfcf;
                border-radius: 4px;
                background: #fff;
              }

              &:hover {
                border: none;
                background: transparent;
              }
            }

            &.selected {

              label {
                background: transparent;

                &:before {
                  background: url(../img/check-2.png) center center no-repeat #bfbfbf;
                }
              }
            }
          }
        }
      }

      @media (max-width: 991px) {
        margin-bottom: 15px;
      }

      @media (max-width: 767px) {
        margin-right: 10px;
      }

      @media (max-width: 479px) {
        width: 46%;
        margin-right: 0;
      }
    }

    .reset {
      .btn-default {
        font-size: 13px;
        background-color: #f5f5f5;
        border: none;
        border-radius: 6px;
        padding: 6px 15px 6px 40px;
        color: #483e4c;
        //background-image: url(../img);

        &:hover,
        &:focus,
        &:active {
          box-shadow: none;
          background-color: #f5f5f5;
          outline: none;
        }

        @media (max-width: 479px) {
          width: 100%;
        }
      }

      @media (max-width: 479px) {
        width: 46%;
      }
    }

    @media (max-width: 767px) {
      padding: 20px 5px 15px;
    }

    @media (max-width: 479px) {
      padding: 20px 10px 15px;
      flex-direction: column;
    }
  }
}

.sort-wrap {
  min-width: 190px;

  @media (max-width: 767px) {
    min-width: 130px;
  }
}

.select2-container .sort-container.select2-selection--single {
  background: #f5f5f5;
  border: none;
  border-radius: 6px;
  padding: 4px 32px 6px 10px;
  height: auto;
  position: relative;

  &:after {
    content: '';
    width: 8px;
    height: 8px;
    border-left: 2px solid #cacaca;
    border-bottom: 2px solid #cacaca;
    position: absolute;
    right: 12px;
    top: 10px;
    transform: rotateZ(-45deg);
  }
}

.select2-container .sort-container.select2-selection--single .select2-selection__rendered {
  padding: 0;
  text-align: left;
}

.sort-dropdown.select2-dropdown {
  border: 1px solid #f1f2f5;
  background: #fafafa;
}

.sort-dropdown .select2-results__options {
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  max-height: 150px;
  overflow: auto;
}

.sort-dropdown .select2-results__option {
  padding-left: 0;
  padding-right: 0;
}

.filters-action {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 0 0 32px;
  margin: -5px 0 0 0;
  background: #fff;

  &__item {
    list-style-type: none;
    padding: 6px 20px 6px 4px;
    position: relative;
    font-size: 13px;
    margin-right: 15px;

    .item-close {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: url(../img/item-delete.png) no-repeat top center;
      background-size: 11px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-46%);
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 991px) {
    padding: 0 0 0 15px;
  }
}