.footer {
  background: #463b49;
  padding: 25px 0 55px;
  &__content {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 -25px;

    @media (max-width: 1199px) {
      margin: 0;
    }
  }

  &__left {
    flex: 0 0 25%;

    @media (max-width: 767px) {
      flex: 0 0 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      align-items: center;
    }
  }

  &__right {
    flex: 0 0 75%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex: 0 0 100%;
    }

    @media (max-width: 479px) {
      flex: 1;
      flex-wrap: wrap;
      margin: 0 -10px;
    }
  }

  &__logo {
    width: 126px;
    height: 48px;
    display: block;
    background: url(../img/svg/pandora-look-logo.svg) no-repeat center center /contain;
    margin-top: -10px;
  }

  &__social {
    display: flex;
    margin: 20px 0 0;
    padding: 0;
    list-style-type: none;

    li {
      margin-right: 5px;
      a {
        display: inline-block;
        width: 26px;
        height: 26px;
        background: #fff;
        border-radius: 50%;
        img {
          width: 26px;
          height: 26px;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 767px) {
        margin-right: 8px;
      }
    }

    @media (max-width: 767px) {
      margin: -8px 0 0;
    }
  }

  &__item {

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        color: #fff;
        font-size: 14px;
        margin-bottom: 4px;
        font-family: thimes new roman;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }

          &.register {

            span {
              display: inline-block;

              &:first-child {
                padding-right: 10px;
                position: relative;

                &:before {
                  content: '';
                  width: 1px;
                  height: 14px;
                  background: #fff;
                  position: absolute;
                  top: 2px;
                  right: 2px;
                }
              }
            }
          }
        }

        &.title {
          margin-bottom: 15px;
        }

        @media (max-width: 767px) {
          font-size: 12px;
        }
      }
    }

    @media (max-width: 479px) {
      flex: 0 0 50%;
      margin-bottom: 15px;
      padding: 0 10px;

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 2;
      }
    }
  }

  .copy {
    flex: 0 0 75%;
    border-top: 1px solid #fff;
    margin-top: 15px;
    padding-top: 8px;

    p {
      font-size: 12px;
      text-transform: uppercase;
      color: #fff;
      text-align: right;
      margin-bottom: 0;

      @media (max-width: 479px) {
        text-align: center;
      }
    }

    @media (max-width: 767px) {
      flex: 0 0 100%;
    }
  }

  @media (max-width: 767px) {
    padding: 25px 0 30px;
  }
}