.header {
  margin-bottom: 15px;
  &__lvl-1 {
    background: #afaab0;
    padding: 7px 0 5px;

    &__nav {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;

      li {
        font-size: 13px;
        color: #010000;

        a {
          color: #010000;
          text-decoration: none;
          display: inline-block;
          margin: 0 4px;

          &:hover,
          &:focus,
          &:active,
          &:visited {
            color: #010000;
            text-decoration: none;
            border: none;
          }
        }

        &.phone {
          margin-right: 10px;

          @media (max-width: 479px) {
            flex: 1;
          }
        }

        &:last-child {
          a {
            @media (max-width: 479px) {
              margin-right: 0;
            }
          }
        }
      }

      @media (max-width: 479px) {
        justify-content: space-between;
      }
    }

    &__action {
      display: flex;
      justify-content: flex-end;
      transform: translateY(-3px);

      a {
        color: #010000;
        text-decoration: none;
        display: inline-block;
        position: relative;
        letter-spacing: -0.7px;

        &:first-child {
          margin-right: 20px;

          &:before {
            content: '';
            width: 2px;
            height: 13px;
            background: #010000;
            position: absolute;
            right: -11px;
            top: 4px;
          }
        }

        &:hover,
        &:focus,
        &:active,
        &:visited {
          color: #010000;
          text-decoration: none;
          border: none;
        }
      }

      @media (max-width: 767px) {
        position: absolute;
        top: -21px;
        right: 10px;
        transform: translateY(0);
      }

      @media (max-width: 479px) {
        position: static;
      }
    }
  }

  &__lvl-2 {
    background: #453c49;
    padding-top: 5px;
  }

  &__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    position: relative;

    &__search {
      position: relative;
      margin-left: 4px;
      width: 170px;
      margin-top: -2px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      .search-field {
        font-size: 13px;
        height: 22px;
        border-radius: 22px;
        padding: 0 45px 0 15px;
        background: #342c37;
        text-align: right;
        font-style: italic;
        color: #afaab0;
        border: none;
        box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.9),
                    0.5px 1px 1px 1px #544c57;


        &:placeholder {
          color: #afaab0;
        }
      }

      .search-btn {
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 50%;
        background-image: url(../img/svg/search-icon.svg);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: -2px;
        right: 0;
        background-size: 12px;
        border: none;

        &:hover,
        &:focus,
        &:active {
          outline: none;
        }
      }

      @media (max-width: 767px) {
        position: static;
        transform: translate3d(0,0,0);
        // order: 2;
        width: 160px;
      }

      @media (max-width: 479px) {
        order: 4;
        margin-left: 0;
        margin-top: 10px;
      }
    }

    &__logo {
      width: 140px;
      height: 50px;
      display: block;
      background: url(../img/svg/pandora-look-logo.svg) no-repeat center center /contain;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);

      @media (max-width: 767px) {
        position: static;
        transform: translate3d(0,0,0);
        // order: 1;
      }

      @media (max-width: 479px) {
        width: 130px;
      }
    }

    &__info {
      display: flex;
      justify-content: flex-end;
      margin-top: -2px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      a {
        width: 40px;
        height: 18px;
        display: inline-block;
        color: #fff;

        span {
          font-size: 14px;
          line-height: 1;
          display: inline-block;
          transform: translateY(-5px);
        }

        &.like {
          background: url(../img/svg/heart-icon.svg) no-repeat left top /contain;
          padding-left: 24px;
        }

        &.basket-link {
          width: 30px;
          padding-left: 22px;
          background: url(../img/svg/basket-icon.svg) no-repeat left top /contain;
        }

        &:first-child {
          margin-right: 5px;
        }
      }

      @media (max-width: 767px) {
        position: static;
        transform: translateY(0);
        // order: 3;
      }
    }

    @media (max-width: 767px) {
      padding-right: 40px;
    }

    @media (max-width: 479px) {
      flex-wrap: wrap;
      padding-bottom: 20px;
      padding-right: 0;
    }
  }

  &__lvl-3 {
    background: #453c49;

    .container {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 5px;
        background: radial-gradient(at 50% 0, black, transparent 85%);
        background-size: 100% 3px;
        background-repeat: no-repeat;
      }
    }
  }

  &__navbar-collapse {
    border: none;
    padding: 0;

    &.in {
      overflow-x: visible;
      overflow-y: visible;
    }
  }

  &__navbar {
    background: linear-gradient(to right, rgba(69, 60, 73, 1) 0%, rgba(55, 41, 58, 1) 35%, rgba(55, 41, 58, 1) 65%, rgba(69, 60, 73, 1) 100%);
    border: none;
    margin: 0;
    padding: 10px 0 10px;
    min-height: 1px;
    flex: 1;

    .navbar-toggle {

      .icon-bar {
        background: #fff;
      }

      &:hover,
      &:focus,
      &:active {
        background: transparent;
      }

      @media (max-width: 767px) {
        position: absolute;
        border: none;
        padding: 0;
        right: 0;
        top: -46px;
        z-index: 3;
        margin: 0;
      }

      @media (max-width: 479px) {
        top: -40px;
      }
    }

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  .header__nav {
    margin: 0;
    padding: 0 12px;
    float: none;
    display: flex;
    justify-content: space-between;
    flex: 1;

    li {

      a {
        color: #fff;
        font-size: 17px;
        padding: 0;

        &:hover,
        &:focus,
        &:active,
        &:visited {
          color: #fff;
          text-decoration: none;
        }
      }

      @media (max-width: 767px) {
        text-align: center;
        margin-bottom: 10px;

        &:first-child {
          margin-top: 10px;
        }
      }
    }

    &:after,
    &:before {
      content:none;
    }

    @media (max-width: 767px) {
      display: block;
      border: none;
      box-shadow: none;
      padding-bottom: 10px;
    }
  }
}