.reclame {
  // display: flex;
  // flex-wrap: wrap;
  min-width: 100%;
  margin: 30px -8px 0;

  &__item {
    display: block;
    box-sizing: border-box;
    padding: 0 8px;
    margin-bottom: 16px;
    float: left;
    width: 50%;
    // flex: 0 0 50%;

    &.big {
      width: 100%;
    }
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}